.main {
    justify-content: center;
    text-align: center;
    width: 300px;
    margin: 50px auto;
}

h2 {
    font-family: Verdana;
    font-weight: 600;
    color: saddlebrown;
}

p {
    padding: 5px;
}

#btn0 {
    background: blue;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-family: helvetica;
    text-decoration: none;
}

#btn1 {
    background: red;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-family: helvetica;
    text-decoration: none;
}

#btn2 {
    background: green;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-family: helvetica;
    text-decoration: none;
}